@model Nexus.Models.Products.ProductsDeleteViewModel

<h1>Kustuta Toote</h1>

<div>
    <h4>Tooted</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Name)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Price" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Price)

        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Quality" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Quality)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Stock" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Stock)
        </div>
    </dl>

    <dl class="row">
        <div class="form-group row">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => model.Description)
        </div>
    </dl>


    <hr />
    <form asp-action="DeleteConfirmed" method="post">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Remove" class="btn btn-danger" />
        <a asp-action="Index" asp-controller="Products" class="btn btn-danger">Tagasi</a>
    </form>
</div>