@model IEnumerable<Nexus.Models.Products.ProductsIndexViewModel>

@{
    int rowNumber = 1;
}

<div>
    <a asp-action="Create" asp-controller="Products" type="Submit" class="btn btn-primary">Add Product</a>
</div>
<div class="h1">
    Tooted
</div>
<form method="get">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Toote nimi</th>
                <th scope="col">Hind</th>
                <th scope="col">Kvaliteet</th>
                <th scope="col">Varu</th>
                <th scope="col">Kirjeldus</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@rowNumber</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Quality</td>
                    <td>@product.Stock</td>
                    <td>@product.Description</td>
                    <td>
						<a asp-action="Delete" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-danger">Kustuta</a>
                        <a asp-action="Update" asp-controller="Products" asp-route-id="@product.ProductId" class="btn btn-danger">Muuda</a>
                        <a asp-action="Index" asp-controller="Comments" asp-route-id="@product.ProductId" class="btn btn-primary">Kommetaar</a>
                    </td>
                </tr>
                rowNumber += 1;
            }
        </tbody>
    </table>
</form>